<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="login" style="min-width: 40%;margin-top: 42px;">
    <aside class="content">
        <h3>Sign Up</h3>
        <div class="alert {{a.class}}" ng-repeat="a in alerts" ng-click="alerts.splice($index, 1)">{{a.msg}}</div>
        <form name="regfrm" ng-submit="signup()">

            <div class="form-group">
                <span class="error-msg" ng-show="regfrm.name.$dirty && regfrm.name.$error.required">A Screen name is required</span>
                <span class="error-msg" ng-show="regfrm.name.$dirty && regfrm.name.$error.minlength">Must be more than 3 characters</span>
                <span class="error-msg" ng-show="regfrm.name.$dirty && regfrm.name.$error.maxlength">Must not be more than 20 characters</span>
                <span class="error-msg" ng-show="regfrm.name.$dirty && regfrm.name.$error.ngRemoteValidate">Screen name already used</span>
                <span class="error-msg" ng-show="regfrm.name.$dirty && regfrm.name.$error.pattern">Alphanumeric characters only</span>
                <input class="form-control" ng-class="{'spinner':regfrm.name.$pending}" name="name" placeholder="Screen Name" type="text" ng-pattern="/^[a-z0-9]+$/i"
                       ng-model="user.screenName" required ng-minlength="4" ng-maxlength="20" ng-remote-validate="users/name-unique" ng-remote-throttle="1000"/>
            </div>

            <div class="form-group">
                <span class="error-msg" ng-show="regfrm.email.$dirty && regfrm.email.$error.required">Email is required</span>
                <span class="error-msg" ng-show="regfrm.email.$dirty && regfrm.email.$error.email">Email is not valid</span>
                <span class="error-msg" ng-show="regfrm.email.$dirty && regfrm.email.$error.ngRemoteValidate">Email is already used</span>
                <input class="form-control" ng-class="{'spinner':regfrm.email.$pending}" name="email" placeholder="email" type="email" ng-model="user.email" 
                       required ng-remote-validate="users/email-unique" ng-remote-throttle="1000" update-on-blur/>
            </div>
            <div class="form-group">
                <span class="error-msg" ng-show="regfrm.password.$dirty && regfrm.password.$error.minlength">Must be more than 5 characters</span>
                <span class="error-msg" ng-show="regfrm.password.$dirty && regfrm.password.$error.maxlength">Must not be more than 20 characters</span>
                <input class="form-control" name="password" placeholder="password" type="password" ng-model="user.password" required ng-minlength="6" ng-maxlength="20" autocomplete="off"/>
            </div>
            <div class="form-group">
                <span class="error-msg" ng-show="regfrm.vpword.$dirty && regfrm.vpword.$error.match">Passwords do not match</span>
                <input class="form-control" name="vpword" placeholder="Retype password" type="password" ng-model="user.vpword" match="user.password"/>
            </div>

            <div class="form-actions">
                <button type="button" class="btn btn-default" ng-click="back()">back</button>
                <button type="submit" class="btn btn-info pull-right" ng-disabled="regfrm.$invalid || loading">
                    <span ng-hide="loading">Submit</span><span ng-show="loading">Saving...</span>
                </button>
            </div>
        </form>
    </aside>
</div>
