<div>
    <div style="padding:20px;background:#CCC">
        <img src="${logo}"/>
    </div>
    <div style="padding:20px">
    	<h2 style="font-family:"Open Sans",sans-serif">Password reset</h2>
        
        <p><strong>Hello ${username},</strong></p>
        <p>You have initiated a password reset.</p>
        
        <p>Use this passcode : <strong>${passcode}</strong> to change your password.</p>
        
        <p>However, if you did not start this operation, kindly ignore this mail. Your credentials will still be intact.</p>
        
    </div>
</div>
