<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <section class="post-container" ng-repeat="joke in jokes">
        <div class="row title">
            <span ng-bind="joke.title"></span>
        </div>
        <div class="media">
            <div class="pull-left">
                <img ng-src="{{usersPath}}/img/{{joke.imageURL}}" class="poster-img" width="60" height="60"/>
            </div>
            <div  class="media-body">
                <div><a href="#/profile/{{joke.poster}}" class="person" ng-bind="joke.poster"></a></div>
                <div><span class="date-grey">{{joke.duration}}</span></div>
                <div class="stats">
                    <!--<i class="icon-thumbs-up"> <span class="likes" ng-bind="joke.likes"></span></i>-->
                    <i class="icon-comment"> <span ng-bind="joke.commentsLength"></span></i>
                    <i class="icon-tags"><span ng-repeat="t in joke.tags"> <a href="" ng-click="forTags(t)">&num;{{t}}</a></span></i>
                </div>
            </div>
        </div>
        <!--MAIN POST MESSAGE-->
        <div class="post">
            <p ng-bind="joke.post"></p>
            <div class="center" style="width: 500px" ng-show="joke.image"><img width="350" height="450" ng-src="{{joke.image}}" /></div>
        </div>
        <!--ACTION BAR-->
        <div class="action-bar">
            <ul class="list-inline">
                <!--            <li><a href="" ng-hide="joke.liking || joke.liked" ng-click="like($index)">Like</a>
                            <li><a href="" ng-hide="joke.liking || !joke.liked" ng-click="unlike($index)">Unlike</a>
                                <img ng-show="joke.liking" src="{{spinner}}"/>
                            </li>-->
                <li><a href="" ng-click="joke.makeComment = !joke.makeComment">Comment</a></li>
                <li>
                    <a href="" ng-click="openReport(joke)">Report</a>
                </li>
                <li>
                    <button class="btn btn-xs btn-default" ng-click="share(0, joke)" title="share on facebook">facebook</button>
                <button class="btn btn-xs btn-default" ng-click="share(1, joke)" title="share on twitter">twitter</button>
                <button class="btn btn-xs btn-default" ng-click="share(2, joke)" title="share on gmail">gmail</button>
                <button class="btn btn-xs btn-default" ng-click="share(3, joke)" title="share on google+">g+</button>
                    
                    <!---->
<!--                    <div data-addthis-toolbox data-url="http://localhost:7070" id="bp-{{joke.id}}" 
                         class="addthis_toolbox addthis_default_style addthis_16x16_style" data-text="Scribbles joke">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_email"></a>
                    </div>-->

                </li>
            </ul>
        </div>
        <!--COMMENTS-->
        <div class="row comments">
            <span class="pull-right" style="position: relative" ng-hide="joke.oncomment || joke.commentsLength === 0">
                <a href="" ng-click="loadComments(joke)" ng-hide="joke.showComments">show comments</a>
                <a href="" ng-click="hideComments(joke)" ng-hide="!joke.showComments">hide comments</a>
                <img ng-show="joke.loadingComments" ng-src="{{spinner}}"/>
            </span>
            <div class="col-md-10 col-lg-offset-1" ng-cloak ng-show="joke.showComments">
                <div class="media comment" ng-repeat="comment in joke.comments">
                    <div class="pull-left">
                        <img ng-src="{{usersPath}}/img/{{comment.imageURL}}" class="poster-img" width="40" height="40"/>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="#/profile/{{comment.poster}}" class="person">{{comment.poster}}</a>
                            <span class="date-grey" style="margin:0px 10px">{{comment.duration}}</span>
                        </div>
                        <div class="post-text">
                           {{comment.text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--COMMENT TEXT BLOCK-->
        <div class="my-comment" collapse="!joke.makeComment">
            <div class="row">
                <div class="col-md-10 col-lg-offset-1"><textarea ng-model="joke.myComment" style="width: 100%" placeholder="comment on this joke"></textarea></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-offset-1 margin-top-10">
                    <button class="btn btn-warning btn-sm" ng-click="joke.makeComment = !joke.makeComment" ng-hide="joke.oncomment">cancel</button>
                    <button class="btn btn-info btn-sm" ng-click="comment($index)" ng-hide="joke.oncomment">comment</button>
                    <span ng-show="joke.oncomment"><img ng-src="{{spinner}}"/> saving comment...</span>
                </div>
            </div>
        </div>
    </section>

    <pager total-items="totalPosts" ng-model="query.page" ng-change="loadPosts()" items-per-page="query.size"></pager>
    <!--<button class="btn-block btn btn-default" ng-show="moreJokes || !loading" ng-click="nextPage()">More jokes</button>-->

    <div ng-include="'static/posts/report.html'"></div>
</div>
