<section class="post-container" ng-repeat="prov in proverbs">
    <div class="media">
        <div class="pull-left">
            <img src="{{usersPath}}/img/{{prov.imageURL}}" class="poster-img" width="60" height="60"/>
        </div>
        <div  class="media-body">
            <div><a href="#/profile/{{prov.poster}}" class="person" ng-bind="prov.poster"></a></div>
            <div><span class="date-grey">{{prov.duration}}</span></div>
            <div class="stats">
                <!--<i class="icon-thumbs-up"> <span class="likes" ng-bind="prov.likes"></span></i>-->
                <i class="icon-comment"> <span ng-bind="prov.commentsLength"></span></i>
                <i class="icon-tags"><span ng-repeat="t in prov.tags"> <a href="#/proverbs/tags/{{t}}">&num;{{t}}</a></span></i>
            </div>
        </div>
    </div>
    <!--MAIN POST MESSAGE-->
    <div class="post">
        <p ng-bind="prov.post"></p>
    </div>
    <!--ACTION BAR-->
    <div class="action-bar">
        <ul class="list-inline">
            <li><a href="" ng-click="prov.makeComment = !prov.makeComment">Comment</a></li>
            <li>
                <a href="" ng-click="openReport(prov)">Report</a>
            </li>
            <li>
                <button class="btn btn-xs btn-default" ng-click="share(0, prov)" title="share on facebook">facebook</button>
                <button class="btn btn-xs btn-default" ng-click="share(1, prov)" title="share on twitter">twitter</button>
                <button class="btn btn-xs btn-default" ng-click="share(2, prov)" title="share on gmail">gmail</button>
                <button class="btn btn-xs btn-default" ng-click="share(3, prov)" title="share on google+">g+</button>
            </li>
        </ul>
    </div>
    <!--COMMENTS-->
    <div class="row comments">
        <span class="pull-right" style="position: relative" ng-hide="prov.oncomment || prov.commentsLength === 0">
            <a href="" ng-click="loadComments(prov)" ng-hide="prov.showComments">show comments</a>
            <a href="" ng-click="hideComments(prov)" ng-hide="!prov.showComments">hide comments</a>
            <img ng-show="prov.loadingComments" ng-src="{{spinner}}"/>
        </span>
        <div class="col-md-10 col-lg-offset-1" ng-cloak ng-show="prov.showComments">
            <div class="row comment" ng-repeat="comment in prov.comments">
                <div class="col-md-1">
                    <img ng-src="{{usersPath}}/img/{{comment.imageURL}}" class="poster-img" width="40" height="40"/>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <a href="#/profile/{{comment.poster}}" class="person">{{comment.poster}}</a>
                        <span class="date-grey" style="margin:0px 10px">{{comment.duration}}</span>
                    </div>
                    <div class="row post">
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--COMMENT TEXT BLOCK-->
    <div class="my-comment" collapse="!prov.makeComment">
        <div class="row">
            <div class="col-md-10 col-lg-offset-1"><textarea ng-model="prov.myComment" style="width: 100%" placeholder="comment on this joke"></textarea></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-offset-1 margin-top-10">
                <button class="btn btn-warning btn-sm" ng-click="prov.makeComment = !prov.makeComment" ng-hide="prov.oncomment">cancel</button>
                <button class="btn btn-info btn-sm" ng-click="comment($index)" ng-hide="prov.oncomment">comment</button>
                <span ng-show="prov.oncomment"><img ng-src="{{spinner}}"/> saving comment...</span>
            </div>
        </div>
    </div>
</section>

<div ng-include="'static/posts/report.html'"></div>